<h2>Games/Teams Intersection Table</h2>

<table id="game-teams-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr data-value={{this.idgame}}>
            <td>{{this.game_id}}</td>
            <td>{{this.team_name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
