body {
    background-color: rgb(183, 206, 228);
};


table {
    border: 5px solid black;
    width: 100%;
    background-color: black;
};

header {
    background-color: #1d2026;
  }
  
  header::after {
    content: '';
    display: table;
    clear: both;
  }


nav {
    float: left;
    margin-right: 20px;
}

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
    padding-top: 23px;
    position: relative;
  }
  
  nav ul li a {
    font-family: 'Noto Sans';
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  nav a:hover {
    /* color: #04aa6d; */
    color: #525252;
  }
  
  /* Pseudo element */
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #04aa6d;
  
    position: absolute;
    top: 1px;
  
    transition: all ease-in-out 300ms;
  }
  
  nav a:hover::before {
    width: 100%;
  }

.required:after {
  content:" *";
  color: red;
}
